# https://wiki.archlinux.org/title/Desktop_entries
# Link to $E:XDG_DATE_HOME/applications/helix.desktop
[Desktop Entry]
Name=Helix
GenericName=Text Editor
Comment=Edit text files
TryExec=hx
Exec=hx %F
Terminal=true
Type=Application
Keywords=Text;editor;
Icon=helix
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
