#ignore zcompdump and zcompcache files
zsh/.zcompdump
zsh/.zcompcache/

#ignore zcalc history
zsh/.zcalc_history

#p10k configure file
zsh/.p10k.zsh

#zinit dir
zsh/.zinit/

# systemd units
config/systemd/user/*.target.wants/*
