ACTION=="add", SUBSYSTEM=="net", SUBSYSTEMS=="usb", ATTR{dev_id}=="0x0",ATTRS{removable}=="removable", ENV{ID_TYPE}="generic", RUN+="/sbin/rfkill block wlan && /sbin/rfkill block bluetooth"
