[Unit]
Description=Service to clean up nvim backup files

[Service]
Type=simple
ExecStart=/bin/find -O3 %h/.local/share/nvim/undo %h/.local/share/nvim/swap -type f -mtime +3 -execdir rm {} +
