ACTION!="change|add",GOTO="END"

KERNEL=="ADP?", SUBSYSTEM=="power_supply", ATTR{online}=="1",  GOTO="AC_POWER"

RUN+="/bin/zsh -c 'echo  power > /sys/devices/system/cpu/cpufreq/policy?/energy_performance_preference'"

RUN+="/bin/zsh -c 'echo  med_power_with_dipm > /sys/class/scsi_host/host?/link_power_management_policy'"

RUN+="/bin/zsh -c 'echo  powersave > /sys/devices/system/cpu/cpu?/cpufreq/scaling_governor'"

RUN+="/bin/zsh -c 'echo  1 > /sys/devices/system/cpu/intel_pstate/no_turbo'"

RUN+="/bin/zsh -c 'echo  30 > /sys/devices/system/cpu/intel_pstate/max_perf_pct'"

RUN+="/bin/zsh -c 'echo  0 > /sys/devices/system/cpu/intel_pstate/hwp_dynamic_boost'"

RUN+="/bin/zsh -c 'echo Y > /sys/module/snd_hda_intel/parameters/power_save_controller'"

RUN+="/bin/zsh -c 'echo 1 > /sys/module/snd_hda_intel/parameters/power_save'"

GOTO="END"

LABEL="AC_POWER"

RUN+="/bin/zsh -c 'echo  performance > /sys/devices/system/cpu/cpufreq/policy?/energy_performance_preference'"

RUN+="/bin/zsh -c 'echo  max_performance > /sys/class/scsi_host/host?/link_power_management_policy'"

RUN+="/bin/zsh -c 'echo  performance > /sys/devices/system/cpu/cpu?/cpufreq/scaling_governor'"

RUN+="/bin/zsh -c 'echo  0 > /sys/devices/system/cpu/intel_pstate/no_turbo'"

RUN+="/bin/zsh -c 'echo  100 > /sys/devices/system/cpu/intel_pstate/max_perf_pct'"

RUN+="/bin/zsh -c 'echo  1 > /sys/devices/system/cpu/intel_pstate/hwp_dynamic_boost'"

RUN+="/bin/zsh -c 'echo N > /sys/module/snd_hda_intel/parameters/power_save_controller'"

RUN+="/bin/zsh -c 'echo 0 > /sys/module/snd_hda_intel/parameters/power_save'"

LABEL="END"
