# disable bluetooth
SUBSYSTEM=="rfkill", ATTR{type}=="bluetooth", ATTR{soft}=="0", ATTR{state}="0"

# disable wlan
SUBSYSTEM=="rfkill", ATTR{type}=="wlan", ATTR{soft}=="0", ATTR{state}="0"
