[Unit]
Description=Firefox profile in memory

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%E/systemd/user/firefox-profile-on-ram.sh
ExecStop=%E/systemd/user/firefox-profile-on-ram.sh

[Install]
WantedBy=default.target
