[Unit]
Description=Sync Firefox profile in memory to disk

[Timer]
OnStartupSec=6h
OnUnitInactiveSec=12h
Persistent=true

[Install]
WantedBy=default.target
