[Unit]
Description=Firefox profile in memory

[Service]
Type=exec
ExecStart=%E/systemd/user/firefox-profile-on-ram.sh
ExecStop=%E/systemd/user/firefox-profile-on-ram.sh
