#Move Firefox profile to RAM 1.5 min after boot
#Sync every 1hr 30min while the system is running
[Unit]
Description=Sync Firefox profile in memory

[Timer]
# man 7 systemd.time for syntax to specify time
OnStartupSec=1min 30sec
OnUnitActiveSec=1hr 30min

[Install]
WantedBy=timers.target
