[Match]
#name of interface
Name=usb0
#Space separated list of mac addresses
MACAddress=
#types are ether wlan loopback
Type=ether

[Network]
Description="The mobile ethernet interface"
DHCP=yes

#The Lower the value for metric the more preferred the network
[DHCP]
RouteMetric=7
UseDNS=false

[Match]
MACAddress=f4:30:b9:97:fd:a3
Name=eno1

[Network]
DHCP=yes

[DHCP]
#RouteMetric tell networkd to prefer one connection over another
RouteMetric=2
UseDNS=false

[Match]
MACAddress=e4:42:a6:cf:37:0d
#Name=wlo1

[Network]
DHCP=yes

[DHCP]
RouteMetric=9
UseDNS=false
