ACTION!="change",GOTO="END"
SUBSYSTEM!="power_supply",GOTO="END"

ATTR{capacity}=="[1-9]",GOTO="HYBRID-SLEEP"

# hibernate system at 0%
ENV{POWER_SUPPLY_NAME}=="BAT[0-9]", ATTR{status}=="Discharging", ATTR{capacity}=="0", RUN+="/usr/bin/systemctl hibernate"

GOTO="END"

LABEL="HYBRID-SLEEP"

#disable S3 wakeup by XHC S3 *enabled pci:0000:00:14.0 which is a /devices/pci0000:00/0000:00:14.0/usb1/1-7/1-7:1.0 (usb) Intel Corp. Bluetooth wireless interface on the board
RUN+="/bin/echo XHC > /proc/acpi/wakeup"
# hybrid-sleep the system when battery level drops below 11%
ENV{POWER_SUPPLY_NAME}=="BAT[0-9]", ATTR{status}=="Discharging", ATTR{capacity}=="[1-9]", RUN+="/usr/bin/systemctl hybrid-sleep"

LABEL="END"

vim: ft=udevrules
