[Unit]
Description=low battery notification timer for sway using swaynag
Requires=sway-session.target
After=sway-session.target

[Timer]
OnUnitActiveSec=3 minutes

[Install]
WantedBy=sway-session.target
