# https://www.kernel.org/doc/html/latest/admin-guide/blockdev/zram.html#writeback
# https://www.reddit.com/r/linuxquestions/comments/qto7u3/comment/hkpcbx1/
# NOTE: recompress and writeback attributes need to come after disksize

#ACTION=="add", KERNEL=="zram0", ATTR{comp_algorithm}="zstd", ATTR{backing_dev}="/dev/sda4", ATTR{recomp_algorithm}="algo=lz4hc priority=1", ATTR{recomp_algorithm}="algo=842 priority=2", ATTR{disksize}="36GiB", ATTR{recompress}="type=huge", ATTR{writeback}="incompressible", RUN="/usr/bin/mkswap -U clear /dev/%k", TAG+="systemd"

# Aditionally enables huge_idle writeback with an idle marker of 45min(2700)
ACTION=="add", KERNEL=="zram0", ATTR{comp_algorithm}="zstd", ATTR{backing_dev}="/dev/sda4", ATTR{recomp_algorithm}="algo=lz4hc priority=1", ATTR{recomp_algorithm}="algo=842 priority=2", ATTR{disksize}="32GiB", ATTR{idle}="all", ATTR{idle}="2700", ATTR{recompress}="type=huge_idle", ATTR{writeback}="incompressible", ATTR{writeback}="huge_idle", RUN="/usr/bin/mkswap -U clear /dev/%k", TAG+="systemd"
