[Match]
Name=eno1
MACAddress=f4:30:b9:97:fd:a3

[Network]
DHCP=yes

[DHCPv4]
#RouteMetric tell networkd to prefer one connection over another
RouteMetric=2
UseDNS=false
