[Match]
Description=name of interface
#en=ethernet on pci bus 00 slot 20 which has multiple functions 
#and we are using function 0 .ie f0 and on port * .ie u*
Name=enp0s20f0u*
#Space separated list of mac addresses
#MACAddress=0c:5b:8f:27:9a:64
#types are ether wlan loopback
Type=ether

[Network]
Description="The mobile ethernet interface"
DHCP=yes

#The Lower the value for metric the more preferred the network
[DHCP]
RouteMetric=7
UseDNS=false
